@use "sass:color";

.tag {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary {
  // color: var(--color-primary);
}

.red {
  color: var(--red);

  // background: hsla(
  //   color.hue(#ea3d26),
  //   color.saturation(#ea3d26),
  //   color.lightness(#ea3d26),
  //   0.3
  // );
  background: lighten(#ea3d26, 30%);
}

.blue {
  color: var(--light-blue);
  background: lighten(#2a9d8f, 30%);
}

.darkblue {
  color: var(--dark-blue);
  background: lighten(#264653, 30%);
}

// sass function to gen lighter color of the provided color
