.practices {
  h1 {
    text-align: center;
    font-weight: var(--font-weight-medium);
  }

  .paper {
    width: 99%;
    margin: auto;
    height: 322px;
    background-image: linear-gradient(#264653 0.05em, transparent 0.05em),
      linear-gradient(90deg, #264653 0.05em, transparent 0.05em);
    background-size: 1em 1em;

    font: var(--font-size-lg) "Architects Daughter", cursive;

    & > * {
      display: inline-block;
    }

    & > *:first-child {
      transform: translate(1.5em, 3.5em);
    }

    & > *:nth-child(2) {
      transform: translate(1em, 0em);
    }

    & > *:nth-child(3) {
      transform: translate(-2em, 5em);
    }

    & > *:nth-child(4) {
      transform: translate(1em, 2em);
    }

    & > *:nth-child(5) {
      transform: translate(0em, -2em);
    }

    & > *:nth-child(6) {
      transform: translate(1em, -1.5em);
    }

    & > *:nth-child(7) {
      transform: translate(1em, 7em);
    }

    & > *:nth-child(8) {
      transform: translate(-3.5em, 1.5em);
    }

    & > *:nth-child(9) {
      transform: translate(-1em, -1.5em);
    }

    & > *:nth-child(10) {
      transform: translate(1em, -2em);
    }

    & > *:nth-child(11) {
      transform: translate(-1em, 2em);
    }

    & > *:nth-child(12) {
      transform: translate(1em, 2em);
    }

    & > *:nth-child(13) {
      transform: translate(0em, -2em);
    }

    & > *:nth-child(14) {
      transform: translate(4.5em, -2em);
    }

    & > *:nth-child(15) {
      transform: translate(-1em, 4em);
    }

    & > *:nth-child(16) {
      transform: translate(1em, 2em);
    }

    & > *:nth-child(17) {
      transform: translate(-4em, 0em);
    }

    & > *:nth-child(18) {
      transform: translate(4em, -3em);
    }

    & > *:nth-child(19) {
      transform: translate(-1em, 2em);
    }

    & > *:nth-child(20) {
      transform: translate(0em, 3em);
    }

    & > *:nth-child(21) {
      transform: translate(1em, 0em);
    }

    & > *:nth-child(22) {
      transform: translate(1em, 1.5em);
    }

    & > *:nth-child(23) {
      transform: translate(-7em, 2.5em);
    }

    & > *:last-child {
      transform: translate(9em, 3em);
    }
  }
}
