:root {
  --bg-black: #1e1e1e;
  --bg-white: #fff;
  --text-white: #fff;
  --text-black: #000;
  --dark-blue: #264653;
  --light-blue: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-semi-black: 800;
  --font-weight-black: 900;
  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --scrollbarBG: #000;
  --thumbBG: #90a4ae;
}

html,
body {
  font: 16px "Montserrat", sans-serif;
  background-color: var(--bg-black);
  color: var(--text-white);
  cursor: url("/layan-cursors/default.svg"), auto;
  overflow-x: hidden;

  /* for sticky footer */
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  font-family: "Montserrat", sans-serif;
}

a:hover,
button:hover {
  cursor: url("/layan-cursors/pointer.svg"), auto;
}

code {
  font-family: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.725em);
  -webkit-font-smooth: antialiased;
  font-smooth: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
