.cta {
  background-color: #e76f51;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  margin: 5rem auto;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  transition: all 0.1s ease;
  cursor: pointer;
}
