.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 1rem;

  * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background: #0d1321;
  }
}
