.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem auto;

  position: relative; // for floating icons move behind
  z-index: 10;

  .content {
    position: relative;
    width: 50%;
    height: 420px; // fit-content
    padding: 2rem;
    // border: 1px solid var(--dark-blue);
    border-radius: 1rem;
    // background-color: var(--bg-black);
    background-color: #0d1321;

    // box-shadow: 0 0 0.5rem var(--dark-blue);

    .switch {
      position: absolute;
      top: 20px;
      right: 20px;

      color: #808080;
      display: inline-block;

      .tooltip {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

        position: absolute;
        z-index: 2;
        width: 120px;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
      }

      .tooltip::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }

      &:hover .tooltip {
        visibility: visible;
      }

      input[type="checkbox"] {
        height: 0;
        width: 0;
        display: none;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: #808080;
        display: block;
        border-radius: 25px;
        position: relative;
      }

      label:after {
        content: "";
        position: absolute;
        top: 1.5px;
        left: 1.5px;
        width: 22.5px;
        height: 22.5px;
        background: #fff;
        border-radius: 22.5px;
        transition: 0.3s;
      }

      input:checked + label {
        background: var(--dark-blue);
      }

      input:checked + label:after {
        left: calc(100% - 1.125px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 32.5px;
      }
    }

    h1 {
      display: inline-block;
      font-size: 5rem;

      background: linear-gradient(to right, #1b5bf7, #f32170, #ff6b08);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }

    p {
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
    }

    // backdrop-filter: blur(5px);

    .keyword {
      // color: var(--dark-blue);
      color: #569cd6;
    }

    .unicode {
      color: var(--yellow);
    }

    .arrow {
      color: #808080;
    }

    // center icons horizontally
    // .icons {
    //   vertical-align: middle;
    // }
  }
}

.code {
  h1,
  p {
    font-family: "JetBrains Mono", monospace;
  }

  h1 {
    font-weight: var(--font-weight-light);
    margin: 0;
    // color: #4ec9b0;
    // margin: 0 !important;
  }
}

.view {
  // line-height: 1;

  h1 {
    font-weight: var(--font-weight-medium);
    // line-height: 1;
    margin: 1rem 0;
  }
}

////////////////////////////////////////////////////

.stack {
  h1 {
    font-weight: var(--font-weight-medium);
    margin: 1rem 0;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    gap: 1rem;

    * {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      border-radius: 5px;
      background: #0d1321;
    }
  }
}

.practices {
  h1 {
    text-align: center;
    font-weight: var(--font-weight-medium);
  }
}

.stats {
  h1 {
    text-align: center;
    font-weight: var(--font-weight-medium);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    gap: 2rem;

    .card {
      border-radius: 5px;
      background: #0d1321;
      padding: 1rem;
      // height: 7rem;
      .card__content {
        margin-top: 5rem; // margin-top: auto;
        .card__content__title {
        }
        .card__content__text {
          font-size: 1.5rem;
          font-variant-numeric: tabular-nums;
          // color: var(--purple); #0cb0d3, #9f2fff, f605fe, 25bbe3, fa01ff, 02dade
          // background: linear-gradient(to bottom, #0cb0d3, #9f2fff);
          // background: linear-gradient(to bottom, #25bbe3, #f605fe);
          background: linear-gradient(to bottom, #02dade, #fa01ff);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
    }
  }
}

.delivery {
  h1 {
    text-align: center;
    font-weight: var(--font-weight-medium);
  }
}

.projects {
  h1 {
    text-align: center;
    font-weight: var(--font-weight-medium);
  }
}

.slider {
  height: 100px;
  // margin: auto;
  overflow: hidden;
  position: relative;
  // width: 960px;

  .slider__track {
    animation: scroll 120s linear infinite;
    display: flex;
    gap: 2rem;
    width: calc(200px * 12);

    .slider__track__item {
      height: 100px;
      width: 200px;

      .slider__track__item__container {
        height: inherit;
        border-radius: 15px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}
