.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;
  align-items: stretch;
  gap: 2rem;

  .card {
    border-radius: 5px;
    padding: 1rem;
    // height: 7rem;
    .card__content {
      margin-top: 5rem; // margin-top: auto;
      .card__content__title {
      }
      .card__content__text {
        font-size: 1.5rem;
        font-variant-numeric: tabular-nums;
        // background: linear-gradient(to bottom, #0cb0d3, #9f2fff);
        // background: linear-gradient(to bottom, #25bbe3, #f605fe);
        background: linear-gradient(to bottom, #02dade, #fa01ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }
    }
  }
}
