.brandLogo {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-lg);

  background: linear-gradient(
    to bottom,
    #179ebe 0%,
    #179ebe 40%,
    #db2029 40%,
    #db2029 45%,
    #fff 45%,
    #fff 55%,
    #db2029 55%,
    #db2029 60%,
    #31b44c 60%,
    #31b44c 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
