.container {
  h1 {
    width: 545px;
    margin: auto;
    padding: 1rem;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
  }
  .cursor {
    // color: #20bf55;
    color: #04f06a;
    font-size: var(--font-size-xl);
    .blink {
      animation: blink 1s infinite;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
